In [2]:
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

In [3]:
tide_2010_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2010.csv')
tide_2011_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2011.csv')
tide_2012_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2012.csv')
tide_2013_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2013.csv')
tide_2014_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2014.csv')
tide_2015_atlantic = pd.read_csv('./data/Atlantic_city_data/tide_levels/tide_2015.csv')
tide_2010_boston = pd.read_csv('./data/Boston/tide_levels/tide_2010.csv')
tide_2011_boston = pd.read_csv('./data/Boston/tide_levels/tide_2011.csv')
tide_2012_boston = pd.read_csv('./data/Boston/tide_levels/tide_2012.csv')
tide_2013_boston = pd.read_csv('./data/Boston/tide_levels/tide_2013.csv')
tide_2014_boston = pd.read_csv('./data/Boston/tide_levels/tide_2014.csv')
tide_2015_boston = pd.read_csv('./data/Boston/tide_levels/tide_2015.csv')
tide_2010_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2010.csv')
tide_2011_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2011.csv')
tide_2012_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2012.csv')
tide_2013_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2013.csv')
tide_2014_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2014.csv')
tide_2015_bridgeport = pd.read_csv('./data/bridgeport_data/tide_levels/tide_2015.csv')
tide_2010_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2010.csv')
tide_2011_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2011.csv')
tide_2012_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2012.csv')
tide_2013_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2013.csv')
tide_2014_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2014.csv')
tide_2015_new_haven = pd.read_csv('./data/new_haven_data/tide_levels/tide_2015.csv')
tide_2010_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2010.csv')
tide_2011_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2011.csv')
tide_2012_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2012.csv')
tide_2013_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2013.csv')
tide_2014_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2014.csv')
tide_2015_new_london = pd.read_csv('./data/new_london_data/tide_levels/tide_2015.csv')
tide_2010_newport = pd.read_csv('./data/newport/tide_levels/tide_2010.csv')
tide_2011_newport = pd.read_csv('./data/newport/tide_levels/tide_2011.csv')
tide_2012_newport = pd.read_csv('./data/newport/tide_levels/tide_2012.csv')
tide_2013_newport = pd.read_csv('./data/newport/tide_levels/tide_2013.csv')
tide_2014_newport = pd.read_csv('./data/newport/tide_levels/tide_2014.csv')
tide_2015_newport = pd.read_csv('./data/newport/tide_levels/tide_2015.csv')
tide_2010_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2010.csv')
tide_2011_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2011.csv')
tide_2012_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2012.csv')
tide_2013_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2013.csv')
tide_2014_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2014.csv')
tide_2015_baltimore = pd.read_csv('./data/baltimore_data/tide/tide_2015.csv')
tide_2010_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2010.csv')
tide_2011_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2011.csv')
tide_2012_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2012.csv')
tide_2013_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2013.csv')
tide_2014_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2014.csv')
tide_2015_ocean_city = pd.read_csv('./data/ocean_city/tide_levels/tide_2015.csv')
tide_2010_portland = pd.read_csv('./data/portland/tide_levels/tide_2010.csv')
tide_2011_portland = pd.read_csv('./data/portland/tide_levels/tide_2011.csv')
tide_2012_portland = pd.read_csv('./data/portland/tide_levels/tide_2012.csv')
tide_2013_portland = pd.read_csv('./data/portland/tide_levels/tide_2013.csv')
tide_2014_portland = pd.read_csv('./data/portland/tide_levels/tide_2014.csv')
tide_2015_portland = pd.read_csv('./data/portland/tide_levels/tide_2015.csv')
tide_2010_providence = pd.read_csv('./data/providence/tide_levels/tide_2010.csv')
tide_2011_providence = pd.read_csv('./data/providence/tide_levels/tide_2011.csv')
tide_2012_providence = pd.read_csv('./data/providence/tide_levels/tide_2012.csv')
tide_2013_providence = pd.read_csv('./data/providence/tide_levels/tide_2013.csv')
tide_2014_providence = pd.read_csv('./data/providence/tide_levels/tide_2014.csv')
tide_2015_providence = pd.read_csv('./data/providence/tide_levels/tide_2015.csv')

In [4]:
def clean_tide_max(df):
    df = df.drop(columns= ['Predicted (ft)', 'Preliminary (ft)'], axis=1).set_index('Date')
    df.index = pd.to_datetime(df.index)
    df = df[df['Verified (ft)'] != '-']
    df['Verified (ft) Max'] = pd.to_numeric(df['Verified (ft)'])
    df = df.resample('D').max()
    return df

In [5]:
tide_2010_atlantic_max = clean_tide_max(tide_2010_atlantic)
tide_2011_atlantic_max = clean_tide_max(tide_2011_atlantic)
tide_2012_atlantic_max = clean_tide_max(tide_2012_atlantic)
tide_2013_atlantic_max = clean_tide_max(tide_2013_atlantic)
tide_2014_atlantic_max = clean_tide_max(tide_2014_atlantic)
tide_2015_atlantic_max = clean_tide_max(tide_2015_atlantic)
tide_2010_boston_max = clean_tide_max(tide_2010_boston)
tide_2011_boston_max = clean_tide_max(tide_2011_boston)
tide_2012_boston_max = clean_tide_max(tide_2012_boston)
tide_2013_boston_max = clean_tide_max(tide_2013_boston)
tide_2014_boston_max = clean_tide_max(tide_2014_boston)
tide_2015_boston_max = clean_tide_max(tide_2015_boston)
tide_2010_bridgeport_max = clean_tide_max(tide_2010_bridgeport)
tide_2011_bridgeport_max = clean_tide_max(tide_2011_bridgeport)
tide_2012_bridgeport_max = clean_tide_max(tide_2012_bridgeport)
tide_2013_bridgeport_max = clean_tide_max(tide_2013_bridgeport)
tide_2014_bridgeport_max = clean_tide_max(tide_2014_bridgeport)
tide_2015_bridgeport_max = clean_tide_max(tide_2015_bridgeport)
tide_2010_new_haven_max = clean_tide_max(tide_2010_new_haven)
tide_2011_new_haven_max = clean_tide_max(tide_2011_new_haven)
tide_2012_new_haven_max = clean_tide_max(tide_2012_new_haven)
tide_2013_new_haven_max = clean_tide_max(tide_2013_new_haven)
tide_2014_new_haven_max = clean_tide_max(tide_2014_new_haven)
tide_2015_new_haven_max = clean_tide_max(tide_2015_new_haven)
tide_2010_new_london_max = clean_tide_max(tide_2010_new_london)
tide_2011_new_london_max = clean_tide_max(tide_2011_new_london)
tide_2012_new_london_max = clean_tide_max(tide_2012_new_london)
tide_2013_new_london_max = clean_tide_max(tide_2013_new_london)
tide_2014_new_london_max = clean_tide_max(tide_2014_new_london)
tide_2015_new_london_max = clean_tide_max(tide_2015_new_london)
tide_2010_newport_max = clean_tide_max(tide_2010_newport)
tide_2011_newport_max = clean_tide_max(tide_2011_newport)
tide_2012_newport_max = clean_tide_max(tide_2012_newport)
tide_2013_newport_max = clean_tide_max(tide_2013_newport)
tide_2014_newport_max = clean_tide_max(tide_2014_newport)
tide_2015_newport_max = clean_tide_max(tide_2015_newport)
tide_2010_baltimore_max = clean_tide_max(tide_2010_baltimore)
tide_2011_baltimore_max = clean_tide_max(tide_2011_baltimore)
tide_2012_baltimore_max = clean_tide_max(tide_2012_baltimore)
tide_2013_baltimore_max = clean_tide_max(tide_2013_baltimore)
tide_2014_baltimore_max = clean_tide_max(tide_2014_baltimore)
tide_2015_baltimore_max = clean_tide_max(tide_2015_baltimore)
tide_2010_ocean_city_max = clean_tide_max(tide_2010_ocean_city)
tide_2011_ocean_city_max = clean_tide_max(tide_2011_ocean_city)
tide_2012_ocean_city_max = clean_tide_max(tide_2012_ocean_city)
tide_2013_ocean_city_max = clean_tide_max(tide_2013_ocean_city)
tide_2014_ocean_city_max = clean_tide_max(tide_2014_ocean_city)
tide_2015_ocean_city_max = clean_tide_max(tide_2015_ocean_city)
tide_2010_portland_max = clean_tide_max(tide_2010_portland)
tide_2011_portland_max = clean_tide_max(tide_2011_portland)
tide_2012_portland_max = clean_tide_max(tide_2012_portland)
tide_2013_portland_max = clean_tide_max(tide_2013_portland)
tide_2014_portland_max = clean_tide_max(tide_2014_portland)
tide_2015_portland_max = clean_tide_max(tide_2015_portland)
tide_2010_providence_max = clean_tide_max(tide_2010_providence)
tide_2011_providence_max = clean_tide_max(tide_2011_providence)
tide_2012_providence_max = clean_tide_max(tide_2012_providence)
tide_2013_providence_max = clean_tide_max(tide_2013_providence)
tide_2014_providence_max = clean_tide_max(tide_2014_providence)
tide_2015_providence_max = clean_tide_max(tide_2015_providence)

In [6]:
atlantic_tide = pd.concat([tide_2010_atlantic_max, tide_2011_atlantic_max, tide_2012_atlantic_max, tide_2013_atlantic_max, tide_2014_atlantic_max, tide_2015_atlantic_max])
boston_tide = pd.concat([tide_2010_boston_max, tide_2011_boston_max, tide_2012_boston_max, tide_2013_boston_max, tide_2014_boston_max, tide_2015_boston_max])
bridgeport_tide = pd.concat([tide_2010_bridgeport_max, tide_2011_bridgeport_max, tide_2012_bridgeport_max, tide_2013_bridgeport_max, tide_2014_bridgeport_max, tide_2015_bridgeport_max])
new_haven_tide = pd.concat([tide_2010_new_haven_max, tide_2011_new_haven_max, tide_2012_new_haven_max, tide_2013_new_haven_max, tide_2014_new_haven_max, tide_2015_new_haven_max])
new_london_tide = pd.concat([tide_2010_new_london_max, tide_2011_new_london_max, tide_2012_new_london_max, tide_2013_new_london_max, tide_2014_new_london_max, tide_2015_new_london_max])
newport_tide = pd.concat([tide_2010_newport_max, tide_2011_newport_max, tide_2012_newport_max, tide_2013_newport_max, tide_2014_newport_max, tide_2015_newport_max])
baltimore_tide = pd.concat([tide_2010_baltimore_max, tide_2011_baltimore_max, tide_2012_baltimore_max, tide_2013_baltimore_max, tide_2014_baltimore_max, tide_2015_baltimore_max])
ocean_city_tide = pd.concat([tide_2010_baltimore_max, tide_2011_baltimore_max, tide_2012_baltimore_max, tide_2013_baltimore_max, tide_2014_baltimore_max, tide_2015_baltimore_max])
portland_tide = pd.concat([tide_2010_portland_max, tide_2011_portland_max, tide_2012_portland_max, tide_2013_portland_max, tide_2014_portland_max, tide_2015_portland_max])
providence_tide = pd.concat([tide_2010_providence_max, tide_2011_providence_max, tide_2012_providence_max, tide_2013_providence_max, tide_2014_providence_max, tide_2015_providence_max])

In [7]:
baro_2010_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2010.csv')
baro_2011_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2011.csv')
baro_2012_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2012.csv')
baro_2013_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2013.csv')
baro_2014_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2014.csv')
baro_2015_atlantic = pd.read_csv('./data/Atlantic_city_data/baro_pressure/baro_2015.csv')
baro_2010_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2010.csv')
baro_2011_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2011.csv')
baro_2012_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2012.csv')
baro_2013_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2013.csv')
baro_2014_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2014.csv')
baro_2015_boston = pd.read_csv('./data/Boston/baro_pressure/baro_2015.csv')
baro_2010_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2010.csv')
baro_2011_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2011.csv')
baro_2012_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2012.csv')
baro_2013_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2013.csv')
baro_2014_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2014.csv')
baro_2015_bridgeport = pd.read_csv('./data/bridgeport_data/baro_pressure/baro_2015.csv')
baro_2010_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2010.csv')
baro_2011_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2011.csv')
baro_2012_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2012.csv')
baro_2013_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2013.csv')
baro_2014_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2014.csv')
baro_2015_new_haven = pd.read_csv('./data/new_haven_data/baro_pressure/baro_2015.csv')
baro_2010_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2010.csv')
baro_2011_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2011.csv')
baro_2012_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2012.csv')
baro_2013_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2013.csv')
baro_2014_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2014.csv')
baro_2015_new_london = pd.read_csv('./data/new_london_data/baro_pressure/baro_2015.csv')
baro_2010_newport = pd.read_csv('./data/newport/baro_pressure/baro_2010.csv')
baro_2011_newport = pd.read_csv('./data/newport/baro_pressure/baro_2011.csv')
baro_2012_newport = pd.read_csv('./data/newport/baro_pressure/baro_2012.csv')
baro_2013_newport = pd.read_csv('./data/newport/baro_pressure/baro_2013.csv')
baro_2014_newport = pd.read_csv('./data/newport/baro_pressure/baro_2014.csv')
baro_2015_newport = pd.read_csv('./data/newport/baro_pressure/baro_2015.csv')
baro_2010_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2010.csv')
baro_2011_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2011.csv')
baro_2012_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2012.csv')
baro_2013_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2013.csv')
baro_2014_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2014.csv')
baro_2015_baltimore = pd.read_csv('./data/baltimore_data/baro_pressure/baro_2015.csv')
baro_2010_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2010.csv')
baro_2011_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2011.csv')
baro_2012_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2012.csv')
baro_2013_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2013.csv')
baro_2014_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2014.csv')
baro_2015_ocean_city = pd.read_csv('./data/ocean_city/baro_pressure/baro_2015.csv')
baro_2010_portland = pd.read_csv('./data/portland/baro_pressure/baro_2010.csv')
baro_2011_portland = pd.read_csv('./data/portland/baro_pressure/baro_2011.csv')
baro_2012_portland = pd.read_csv('./data/portland/baro_pressure/baro_2012.csv')
baro_2013_portland = pd.read_csv('./data/portland/baro_pressure/baro_2013.csv')
baro_2014_portland = pd.read_csv('./data/portland/baro_pressure/baro_2014.csv')
baro_2015_portland = pd.read_csv('./data/portland/baro_pressure/baro_2015.csv')
baro_2010_providence = pd.read_csv('./data/providence/baro_pressure/baro_2010.csv')
baro_2011_providence = pd.read_csv('./data/providence/baro_pressure/baro_2011.csv')
baro_2012_providence = pd.read_csv('./data/providence/baro_pressure/baro_2012.csv')
baro_2013_providence = pd.read_csv('./data/providence/baro_pressure/baro_2013.csv')
baro_2014_providence = pd.read_csv('./data/providence/baro_pressure/baro_2014.csv')
baro_2015_providence = pd.read_csv('./data/providence/baro_pressure/baro_2015.csv')

In [8]:
def clean_baro_max(df):
    df['DATE TIME'] = df['DATE TIME'].map(lambda x: x[:10])
    df = df[['DATE TIME', ' BARO']]
    df.rename(columns={'DATE TIME': 'Date', ' BARO': 'baro'}, inplace=True)
    df.dropna(inplace=True)
    df = df.set_index('Date')
    df.index = pd.to_datetime(df.index)
    df['baro'] = pd.to_numeric(df['baro'])
    df = df.resample('D').max()
    return df

In [9]:
baro_2010_atlantic_max = clean_baro_max(baro_2010_atlantic)
baro_2011_atlantic_max = clean_baro_max(baro_2011_atlantic)
baro_2012_atlantic_max = clean_baro_max(baro_2012_atlantic)
baro_2013_atlantic_max = clean_baro_max(baro_2013_atlantic)
baro_2014_atlantic_max = clean_baro_max(baro_2014_atlantic)
baro_2015_atlantic_max = clean_baro_max(baro_2015_atlantic)
baro_2010_boston_max = clean_baro_max(baro_2010_boston)
baro_2011_boston_max = clean_baro_max(baro_2011_boston)
baro_2012_boston_max = clean_baro_max(baro_2012_boston)
baro_2013_boston_max = clean_baro_max(baro_2013_boston)
baro_2014_boston_max = clean_baro_max(baro_2014_boston)
baro_2015_boston_max = clean_baro_max(baro_2015_boston)
baro_2010_bridgeport_max = clean_baro_max(baro_2010_bridgeport)
baro_2011_bridgeport_max = clean_baro_max(baro_2011_bridgeport)
baro_2012_bridgeport_max = clean_baro_max(baro_2012_bridgeport)
baro_2013_bridgeport_max = clean_baro_max(baro_2013_bridgeport)
baro_2014_bridgeport_max = clean_baro_max(baro_2014_bridgeport)
baro_2015_bridgeport_max = clean_baro_max(baro_2015_bridgeport)
baro_2010_new_haven_max = clean_baro_max(baro_2010_new_haven)
baro_2011_new_haven_max = clean_baro_max(baro_2011_new_haven)
baro_2012_new_haven_max = clean_baro_max(baro_2012_new_haven)
baro_2013_new_haven_max = clean_baro_max(baro_2013_new_haven)
baro_2014_new_haven_max = clean_baro_max(baro_2014_new_haven)
baro_2015_new_haven_max = clean_baro_max(baro_2015_new_haven)
baro_2010_new_london_max = clean_baro_max(baro_2010_new_london)
baro_2011_new_london_max = clean_baro_max(baro_2011_new_london)
baro_2012_new_london_max = clean_baro_max(baro_2012_new_london)
baro_2013_new_london_max = clean_baro_max(baro_2013_new_london)
baro_2014_new_london_max = clean_baro_max(baro_2014_new_london)
baro_2015_new_london_max = clean_baro_max(baro_2015_new_london)
baro_2010_newport_max = clean_baro_max(baro_2010_newport)
baro_2011_newport_max = clean_baro_max(baro_2011_newport)
baro_2012_newport_max = clean_baro_max(baro_2012_newport)
baro_2013_newport_max = clean_baro_max(baro_2013_newport)
baro_2014_newport_max = clean_baro_max(baro_2014_newport)
baro_2015_newport_max = clean_baro_max(baro_2015_newport)
baro_2010_baltimore_max = clean_baro_max(baro_2010_baltimore)
baro_2011_baltimore_max = clean_baro_max(baro_2011_baltimore)
baro_2012_baltimore_max = clean_baro_max(baro_2012_baltimore)
baro_2013_baltimore_max = clean_baro_max(baro_2013_baltimore)
baro_2014_baltimore_max = clean_baro_max(baro_2014_baltimore)
baro_2015_baltimore_max = clean_baro_max(baro_2015_baltimore)
baro_2010_ocean_city_max = clean_baro_max(baro_2010_ocean_city)
baro_2011_ocean_city_max = clean_baro_max(baro_2011_ocean_city)
baro_2012_ocean_city_max = clean_baro_max(baro_2012_ocean_city)
baro_2013_ocean_city_max = clean_baro_max(baro_2013_ocean_city)
baro_2014_ocean_city_max = clean_baro_max(baro_2014_ocean_city)
baro_2015_ocean_city_max = clean_baro_max(baro_2015_ocean_city)
baro_2010_portland_max = clean_baro_max(baro_2010_portland)
baro_2011_portland_max = clean_baro_max(baro_2011_portland)
baro_2012_portland_max = clean_baro_max(baro_2012_portland)
baro_2013_portland_max = clean_baro_max(baro_2013_portland)
baro_2014_portland_max = clean_baro_max(baro_2014_portland)
baro_2015_portland_max = clean_baro_max(baro_2015_portland)
baro_2010_providence_max = clean_baro_max(baro_2010_providence)
baro_2011_providence_max = clean_baro_max(baro_2011_providence)
baro_2012_providence_max = clean_baro_max(baro_2012_providence)
baro_2013_providence_max = clean_baro_max(baro_2013_providence)
baro_2014_providence_max = clean_baro_max(baro_2014_providence)
baro_2015_providence_max = clean_baro_max(baro_2015_providence)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [10]:
atlantic_baro_max = pd.concat([baro_2010_atlantic_max, baro_2011_atlantic_max, baro_2012_atlantic_max, baro_2013_atlantic_max, baro_2014_atlantic_max, baro_2015_atlantic_max])
boston_baro_max = pd.concat([baro_2010_boston_max, baro_2011_boston_max, baro_2012_boston_max, baro_2013_boston_max, baro_2014_boston_max, baro_2015_boston_max])
bridgeport_baro_max = pd.concat([baro_2010_bridgeport_max, baro_2011_bridgeport_max, baro_2012_bridgeport_max, baro_2013_bridgeport_max, baro_2014_bridgeport_max, baro_2015_bridgeport_max])
new_haven_baro_max = pd.concat([baro_2010_new_haven_max, baro_2011_new_haven_max, baro_2012_new_haven_max, baro_2013_new_haven_max, baro_2014_new_haven_max, baro_2015_new_haven_max])
new_london_baro_max = pd.concat([baro_2010_new_london_max, baro_2011_new_london_max, baro_2012_new_london_max, baro_2013_new_london_max, baro_2014_new_london_max, baro_2015_new_london_max])
newport_baro_max = pd.concat([baro_2010_newport_max, baro_2011_newport_max, baro_2012_newport_max, baro_2013_newport_max, baro_2014_newport_max, baro_2015_newport_max])
baltimore_baro = pd.concat([baro_2010_baltimore_max, baro_2011_baltimore_max, baro_2012_baltimore_max, baro_2013_baltimore_max, baro_2014_baltimore_max, baro_2015_baltimore_max])
ocean_city_baro = pd.concat([baro_2010_ocean_city_max, baro_2011_ocean_city_max, baro_2012_ocean_city_max, baro_2013_ocean_city_max, baro_2014_ocean_city_max, baro_2015_ocean_city_max])
portland_baro = pd.concat([baro_2010_portland_max, baro_2011_portland_max, baro_2012_portland_max, baro_2013_portland_max, baro_2014_portland_max, baro_2015_portland_max])
providence_baro = pd.concat([baro_2010_providence_max, baro_2011_providence_max, baro_2012_providence_max, baro_2013_providence_max, baro_2014_providence_max, baro_2015_providence_max])

In [11]:
atlantic = pd.merge(atlantic_tide_max, atlantic_baro_max, on='Date')
boston = pd.merge(boston_tide_max, boston_baro_max, on='Date')
bridgeport = pd.merge(bridgeport_tide_max, bridgeport_baro_max, on='Date')
new_haven = pd.merge(new_haven_tide_max, new_haven_baro_max, on='Date')
new_london = pd.merge(new_london_tide_max, new_london_baro_max, on='Date')
newport = pd.merge(newport_tide_max, newport_baro_max, on='Date')
baltimore = pd.merge(baltimore_tide_max, baltimore_baro_max, on='Date')
ocean_city = pd.merge(ocean_city_tide_max, ocean_city_baro_max, on='Date')
portland = pd.merge(portland_tide_max, portland_baro_max, on='Date')
providence = pd.merge(providence_tide_max, providence_baro_max, on='Date')

In [12]:
atlantic_unemploy = pd.read_csv('./data/Atlantic_city_data/unemployment_nonseaonal.csv')
boston_unemploy = pd.read_csv('./data/Boston/unemployment_nonseasonal.csv')
bridgeport_unemploy = pd.read_csv('./data/bridgeport_data/unemployment_nonseasonal.csv')
new_haven_unemploy = pd.read_csv('./data/new_haven_data/unemployment_nonseasonal.csv')
new_london_unemploy = pd.read_csv('./data/new_london_data/unemployment_nonseasonal.csv')
newport_unemploy = pd.read_csv('./data/newport/unemployment_nonseasonal.csv')
baltimore_unemploy = pd.read_csv('./data/baltimore_data/unemployment_nonseasonal.csv')
ocean_city_unemploy = pd.read_csv('./data/ocean_city/unemployment_nonseasonal.csv')
portland_unemploy = pd.read_csv('./data/portland/unemployment_nonseasonal.csv')
providence_unemploy = pd.read_csv('./data/providence/unemployment_nonseasonal.csv')

In [13]:
def clean_unemploy(df, noaa_data):
    df.columns = ['Date', 'unemployment_rate']
    df['Date'] = pd.to_datetime(df['Date'])
    df = df.set_index('Date')
    df['unemployment_rate'] = pd.to_numeric(df['unemployment_rate'])
#     list_days = noaa_data.index
#     rate_list = [df.loc[str(i)[:7]]['unemployment_rate'].item() for i in list_days]
#     unemploy_df = pd.DataFrame(data=rate_list, index=list_days)
#     unemploy_df.rename(columns={0: 'rate'}, inplace=True)
#     return unemploy_df
    return df

In [14]:
atlantic_unemploy_df = clean_unemploy(atlantic_unemploy, atlantic)
boston_unemploy_df = clean_unemploy(boston_unemploy, boston)
bridgeport_unemploy_df = clean_unemploy(bridgeport_unemploy, bridgeport)
new_haven_unemploy_df = clean_unemploy(new_haven_unemploy, new_haven)
new_london_unemploy_df = clean_unemploy(new_london_unemploy, new_london)
newport_unemploy_df = clean_unemploy(newport_unemploy, newport)
baltimore_unemploy_df = clean_unemploy(baltimore_unemploy, baltimore)
ocean_city_uneploy_df = clean_unemploy(ocean_city_unemploy, ocean_city)
portland_unemploy_df = clean_unemploy(portland_unemploy, portland)
providence_unemploy_df = clean_unemploy(providence_unemploy, providence)

In [ ]:
atlantic = atlantic.resample('M').max()
boston = boston.resample('M').max()
bridgeport = bridgeport.resample('M').max()
new_haven = new_haven.resample('M').max()
new_london = new_london.resample('M').max()
newport = newport.resample('M').max()
baltimore = baltimore.resample('M').max()
ocean_city = ocean_city.resample('M').max()

In [15]:
atlantic_city = pd.merge(atlantic, atlantic_unemploy_df, on='Date')
boston = pd.merge(boston, boston_unemploy_df, on='Date')
bridgeport = pd.merge(bridgeport, bridgeport_unemploy_df, on='Date')
new_haven = pd.merge(new_haven, new_haven_unemploy_df, on='Date')
new_london = pd.merge(new_london, new_london_unemploy_df, on='Date')
newport = pd.merge(newport, newport_unemploy_df, on='Date')
baltimore = pd.merge(baltimore, baltimore_unemploy_df, on='Date')
ocean_city = pd.merge(ocean_city, ocean_city_uneploy_df, on='Date')
portland = pd.merge(portland, portland_unemploy_df, on='Date')
providence = pd.merge(providence, providence_unemploy_df, on='Date')

In [16]:
baltimore.head()

            Verified (ft)         baro  rate
Date
2010-01-01           0.26  1014.686957  11.3
2010-01-02          -1.33  1011.741667  11.3
2010-01-03          -2.30  1010.516667  11.3
2010-01-04          -2.08  1010.241667  11.3
2010-01-05          -0.85  1010.850000  11.3

In [17]:
atlantic_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/atlantic-city-nj.csv')
baltimore_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/baltimore-md.csv')
boston_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/boston-ma.csv')
bridgeport_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/bridgeport-ct.csv')
new_haven_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/new-haven-ct.csv')
new_london_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/new-london-ct.csv')
newport_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/newport-ri.csv')
portland_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/portland-me.csv')
ocean_city_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/ocean-city-md.csv')
providence_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/providence-ri.csv')
new_bedford_prep = pd.read_csv('./noaa-precip-wind-csv-raw-data/new-bedford-ma.csv')

In [18]:
def clean_prep(df):
    
    df = df.loc[:, ["DATE", "PRCP", "WSF2", "WSF5"]]
    
    df.rename(columns={'DATE': 'Date'}, inplace=True)
    
    df["Date"] = pd.to_datetime(df["Date"])
    
    df.set_index("Date", inplace=True)
    
    return df

In [19]:
atlantic_prep = clean_prep(atlantic_prep)
baltimore_prep = clean_prep(baltimore_prep)
boston_prep = clean_prep(boston_prep)
bridgeport_prep = clean_prep(bridgeport_prep)
new_haven_prep = clean_prep(new_haven_prep)
new_london_prep = clean_prep(new_london_prep)
newport_prep = clean_prep(newport_prep)
portland_prep = clean_prep(portland_prep)
ocean_city_prep = clean_prep(ocean_city_prep)
providence_prep = clean_prep(providence_prep)
new_bedford_prep = clean_prep(new_bedford_prep)

In [20]:
atlantic_city = pd.merge(atlantic_city, atlantic_prep, on='Date')
boston = pd.merge(boston, boston_prep, on='Date')
bridgeport = pd.merge(bridgeport, bridgeport_prep, on='Date')
new_haven = pd.merge(new_haven, new_haven_prep, on='Date')
new_london = pd.merge(new_london, new_london_prep, on='Date')
newport = pd.merge(newport, newport_prep, on='Date')
baltimore = pd.merge(baltimore, baltimore_prep, on='Date')
ocean_city = pd.merge(ocean_city, ocean_city_prep, on='Date')
portland = pd.merge(portland, portland_prep, on='Date')
providence = pd.merge(providence, providence_prep, on='Date')

In [22]:
baltimore.resample('D').max()

            Verified (ft)         baro  rate  PRCP  WSF2  WSF5
Date
2010-01-01       0.260000  1014.686957  11.3  0.03  23.0  30.0
2010-01-02      -1.330000  1011.741667  11.3  0.00  33.1  47.0
2010-01-03      -2.300000  1010.516667  11.3  0.00  34.9  47.0
2010-01-04      -2.080000  1010.241667  11.3  0.00  21.9  31.1
2010-01-05      -0.850000  1010.850000  11.3  0.00  21.9  30.0
2010-01-06      -0.680000  1010.750000  11.3  0.00  25.1  34.9
2010-01-07      -0.667500  1015.016667  11.3  0.01  17.0  23.0
2010-01-08      -0.010000  1011.304167  11.3  0.07  25.9  36.0
2010-01-09      -1.440000  1018.895833  11.3  0.00  19.9  28.0
2010-01-10      -0.925000  1025.716667  11.3  0.00  15.0  21.0
2010-01-11      -0.402500  1023.891667  11.3  0.00  14.1  17.9
2010-01-12      -0.327500  1020.816667  11.3  0.00  17.0  23.0
2010-01-13      -0.972500  1024.095833  11.3  0.00  17.0  23.0
2010-01-14      -0.132500  1023.787500  11.3  0.00  10.1  12.1
2010-01-15      -0.073333  1022.454167  11.3  0.00  21.9  28.0
2010-01-16      -0.052500  1023.550000  11.3  0.00  16.1  19.9
2010-01-17      -0.140000  1014.491667  11.3  0.75  19.9  23.9
2010-01-18       0.435000  1006.033333  11.3  0.00  17.9  23.9
2010-01-19       0.952500  1012.816667  11.3  0.00  16.1  28.0
2010-01-20       0.822500  1014.350000  11.3  0.07  12.1  16.1
2010-01-21       0.480000  1020.804167  11.3  0.07  13.0  17.0
2010-01-22       0.627500  1014.491667  11.3  0.06  12.1  17.9
2010-01-23       1.086667  1021.837500  11.3  0.00  12.1  15.0
2010-01-24       0.985000  1019.604167  11.3  0.41  21.0  31.1
2010-01-25       1.825000   997.533333  11.3  0.53  28.0  44.1
2010-01-26       0.195000  1003.950000  11.3  0.00  23.9  33.1
2010-01-27       0.067500  1018.062500  11.3  0.00  17.0  23.0
2010-01-28       0.080000  1018.745833  11.3  0.00  31.1  42.9
2010-01-29      -0.825000  1027.062500  11.3  0.00  17.9  25.1
2010-01-30      -0.750000  1024.795833  11.3  0.24  15.0  21.0
...                   ...          ...   ...   ...   ...   ...
2015-12-02       0.987500  1011.533333   6.6  0.20  12.1  16.1
2015-12-03      -0.275000  1013.570833   6.6  0.00  31.1  38.9
2015-12-04      -0.913333  1029.945833   6.6  0.00  14.1  17.0
2015-12-05      -0.607500  1037.566667   6.6  0.00   8.1  15.0
2015-12-06       0.005000  1033.958333   6.6  0.00   8.1  10.1
2015-12-07      -0.025000  1022.754167   6.6  0.00  12.1  16.1
2015-12-08      -0.142500  1019.850000   6.6  0.00   8.9  17.0
2015-12-09       0.605000  1018.666667   6.6  0.00   8.9  13.0
2015-12-10       0.947500  1014.654167   6.6  0.00  10.1  13.0
2015-12-11       0.712500  1013.516667   6.6  0.00   8.9  13.0
2015-12-12       0.033333  1018.887500   6.6  0.00   8.1   8.9
2015-12-13       0.247500  1020.375000   6.6  0.00   8.1  10.1
2015-12-14       0.450000  1012.120833   6.6  0.13  13.0  19.9
2015-12-15       0.677500  1002.775000   6.6  0.01  31.1  38.9
2015-12-16      -0.165000  1016.791667   6.6  0.00  13.0  18.1
2015-12-17       0.780000  1012.912500   6.6  0.51   8.9  15.0
2015-12-18       1.003333  1008.720833   6.6  0.00  23.0  30.0
2015-12-19      -0.570000  1020.212500   6.6  0.00  33.1  44.1
2015-12-20      -0.583333  1032.312500   6.6  0.00  10.1  15.0
2015-12-21      -0.147500  1026.737500   6.6  0.00  18.1  23.9
2015-12-22      -0.115000  1016.504167   6.6  0.11  14.1  19.0
2015-12-23       0.050000  1016.712500   6.6  2.01  16.1  21.9
2015-12-24       0.802500  1013.029167   6.6  0.05  18.1  30.0
2015-12-25      -0.320000  1019.900000   6.6  1.08  17.0  25.1
2015-12-26       0.022500  1026.345833   6.6  0.06  21.0  25.1
2015-12-27       0.457500  1018.658333   6.6  0.01  19.9  29.1
2015-12-28      -0.115000  1024.200000   6.6  0.18  21.9  25.9
2015-12-29       0.990000  1018.212500   6.6  0.65  18.1  21.9
2015-12-30       0.895000  1022.291667   6.6  0.04  13.0  14.1
2015-12-31       0.600000  1018.779167   6.6  0.00  19.9  23.9

[2191 rows x 6 columns]

In [43]:
atlantic_wage = pd.read_csv('./bls-api-data/AtlanticCity2010-2015.csv')

In [44]:
atlantic_wage['date'] = pd.to_datetime(atlantic_wage['date'])
atlantic_wage.set_index('date', inplace=True)
atlantic_wage.head()

,Unnamed: 0,natural_resources_mining_all_employees,natural_resources_mining_avg_monthly_pay,natural_resources_mining_aggr_value,construction_all_employees,construction_avg_monthly_pay,construction_aggr_value,manufacturing_all_employees,manufacturing_avg_monthly_pay,manufacturing_aggr_value,...,leisure_hospitality_all_employees,leisure_hospitality_avg_monthly_pay,leisure_hospitality_aggr_value,other_services_all_employees,other_services_avg_monthly_pay,other_services_aggr_value,unclassified_all_employees,unclassified_avg_monthly_pay,unclassified_aggr_value,total_industries_aggr_value
date,,,,,,,,,,,,,,,,,,,,,
2010-01-01,71,402,2324,934248,4124,4172,17205328,2066,3568,7371488,...,45393,2256,102406608,3534,1968,6954912,13.0,1176.0,15288.0,289739344.0
2010-02-01,70,346,2324,804104,3829,4172,15974588,2023,3568,7218064,...,45533,2256,102722448,3487,1968,6862416,15.0,1176.0,17640.0,287101312.0
2010-03-01,69,455,2324,1057420,4133,4172,17242876,2095,3568,7474960,...,46326,2256,104511456,3524,1968,6935232,16.0,1176.0,18816.0,292857376.0
2010-04-01,68,607,1480,898360,4369,4320,18874080,2160,3756,8112960,...,47364,2268,107421552,3573,2064,7374672,11.0,1244.0,13684.0,304970040.0
2010-05-01,67,731,1480,1081880,4591,4320,19833120,2227,3756,8364612,...,49096,2268,111349728,3683,2064,7601712,16.0,1244.0,19904.0,311737844.0